@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import '../../../../globals/colors';

.container {
  align-items: center;
  background-color: $ads-color-main;
  border: 1px solid;
  display: flex;
  font-family: Poppins, sans-serif;
  gap: 10px;
  padding: 0 20px;
  width: 245px;

  &.small {
    height: 53px;
  }

  &.medium {
    height: 55px;
  }

  &.large {
    height: 58px;
  }

  &.straight {
    border-radius: 0;
  }

  &.rounded {
    border-radius: 8px;
  }

  &.default {
    border-color: $ads-color-gray-soft-100;
  }

  &.hover {
    border-color: $ads-color-gray-soft-200;
  }

  &.focus {
    border-color: $ads-primary-main;
  }

  &.error {
    border-color: $ads-color-feedback-negative-600;
  }

  &.disabled {
    background-color: $ads-color-gray-soft-300;
    opacity: 0.6;
    pointer-events: none;
  }
}

.icon {
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}

.input {
  background: transparent;
  border: none;
  flex: 1;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  outline: none;

  &::placeholder {
    color: $ads-color-gray-soft-500;
  }

  &.filled {
    color: $ads-color-gray-strong-700;
  }
}

.input-small { font-size: 16px; }
.input-medium { font-size: 18px; }
.input-large { font-size: 20px; }
