@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  src: url('/fonts/Lato-Bold.woff2') format('woff2');

  @font-face {
    font-display: swap;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Lato-Regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: Lato-bold;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Lato-Bold.woff2') format('woff2');
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
   
=======
=======

>>>>>>> 470bbbb (fix: added rebase SEM-037)

  @font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Roboto-Regular.ttf') format('ttf');
  }
<<<<<<< HEAD
>>>>>>> 9804910 (feature(common): added style loaclly)
>>>>>>> e60a39d (feature(common): added style loaclly)
=======
>>>>>>> 470bbbb (fix: added rebase SEM-037)
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  src: url('/fonts/Roboto-Bold.woff2') format('woff2');
}
