$ads-color-gradient-lavender-bloom: linear-gradient(45deg, #6e4aff 0%, #ccbfff 100%);
$ads-color-gradient-coral-peach: linear-gradient(45deg, #f47cb4 0%, #fee2cc 100%);
$ads-color-gradient-serene-sky: linear-gradient(45deg, #8e9ff5 0%, #e3e8fd 100%);
$ads-color-gradient-ocean-turquoise: linear-gradient(45deg, #1b5de0 0%, #36ccc2 100%);
$ads-color-gradient-sunset-gold: linear-gradient(45deg, #ff880b 0%, #ffd8b0 100%);
$ads-color-gradient-orchid-twilight: linear-gradient(45deg, #c165dd 0%, #5c27fe 100%);
$ads-color-gradient-emerald-jade: linear-gradient(45deg, #2afeb7 0%, #08c792 100%);
$ads-color-gradient-sapphire-azure: linear-gradient(45deg, #658df5 0%, #1153fc 100%);
$ads-color-gradient-aqua-amethyst: linear-gradient(45deg, #1de5e2 0%, #b588f7 100%);
$ads-color-gradient-mint-lemonade: linear-gradient(45deg, #3fcab2 0%, #fbeb8e 100%);
$ads-color-gradient-fiery-lavender: linear-gradient(45deg, #fe3a0a 0%, #f0c8f4 100%);
$ads-color-gradient-violet-rose: linear-gradient(45deg, #9627fc 0%, #fbc4d2 100%);
$ads-color-gradient-pink-blossom: linear-gradient(45deg, #ff5886 0%, #ffb6fc 100%);
$ads-color-gradient-sky-magenta: linear-gradient(45deg, #8cd7f7 0%, #f674f9 100%);
$ads-color-gradient-neon-lime: linear-gradient(45deg, #a9ffdb 0%, #17d970 100%);
