@import 'breakpoints';

@mixin respond-to($breakpoint) {
  @if map-has-key($ads-breakpoints-scales, $breakpoint) {
    @media (min-width: map-get($ads-breakpoints-scales, $breakpoint)) {
      @content;
    }
  }

 @else {
    @warn "It has not been found: #{$breakpoint}.";
  }
}