$ads-font-size-headingone: 3rem;
$ads-font-size-headingtwo: 2.25rem;
$ads-font-size-headingthree: 1.5;
$ads-line-height-headingone: 4.5rem;
$ads-line-height-headingtwo: 3.375rem;
$ads-line-height-headingthree: 2.25rem;
$ads-font-weight-regular: 400;
$ads-font-weight-medium: 500;
$ads-font-weight-semibold: 600;
$ads-font-family-sans: 'Helvetica Neue', arial, sans-serif;
$ads-font-family-serif: 'Georgia', serif;
$ads-font-family-italic: 'Times New Roman', times, serif;
$ads-font-family-monospace: 'Courier New', courier, monospace;

$ads-icontextstat-weight-title: 500;
$ads-icontextstat-weight-text: 300;
$ads-icontextstat-fontsize-smalltitle: 1.125rem;
$ads-icontextstat-fontsize-mediumtitle: 1.25rem;
$ads-icontextstat-fontsize-largetitle: 1.5rem;
$ads-icontextstat-fontsize-smalltext: 1rem;
$ads-icontextstat-fontsize-mediumtext: 1.125rem;
$ads-icontextstat-fontsize-largetext: 1.25rem;
$ads-font-weight-bold: 700;
$ads-font-size-primary: 1rem;
$ads-font-size-first: 6rem;
$ads-font-size-second: 1.75rem;
$ads-font-size-third: 8rem;
$ads-font-size-quarter: 2.5rem;
$ads-font-size-fifth: 0.75rem;
$ads-font-size-sixth: 0.938rem;
$ads-font-weight-first: 400;
$ads-font-weight-second: 800;
$ads-font-weight-third: 600;
$ads-line-height-default: 1.3;
$ads-text-input: #a6a6a6;
