$ads-font-size-headingone: 48px;
$ads-font-size-headingtwo: 36px;
$ads-font-size-headingthree: 24px;

$ads-line-height-headingone: 72px;
$ads-line-height-headingtwo: 54px;
$ads-line-height-headingthree: 36px;

$ads-font-weight-regular: 400;
$ads-font-weight-medium: 500;
$ads-font-weight-semibold: 600;

$ads-font-family-sans: 'Helvetica Neue', arial, sans-serif;
$ads-font-family-serif: 'Georgia', serif;
$ads-font-family-italic: 'Times New Roman', times, serif;
$ads-font-family-monospace: 'Courier New', courier, monospace;