$ads-font-size-headingone: 3rem;
$ads-font-size-headingtwo: 2.25rem;
$ads-font-size-headingthree: 1.5;

$ads-line-height-headingone: 4.5rem;
$ads-line-height-headingtwo: 3.375rem;
$ads-line-height-headingthree: 2.25rem;

$ads-font-weight-regular: 400;
$ads-font-weight-medium: 500;
$ads-font-weight-semibold: 600;

$ads-font-family-sans: 'Helvetica Neue', arial, sans-serif;
$ads-font-family-serif: 'Georgia', serif;
$ads-font-family-italic: 'Times New Roman', times, serif;
$ads-font-family-monospace: 'Courier New', courier, monospace;