$ads-primary-main: #0793bf;
$ads-secondary-main: #004369;
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
$ads-text-main: #02322c;
$ads-text-secondary: #6c757d;
$ads-text-main-hover: #000;
$ads-background-main: #f5f5f5;
$ads-color-main: #fff;
$ads-size-main: 1.3rem;
$ads-text-main-alpha: rgb(2 50 44 / 85%);
$ads-font-weight-bold: 700;
$ads-letter-spacing: 0.0625rem;