$ads-primary-main: #0793bf;
$ads-secondary-main: #004369;
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
$ads-text-main: #02322c;
$ads-text-secondary: #6c757d;
$ads-text-main-hover: #000;
$ads-background-main: #f5f5f5;
$ads-color-main: #fff;
$ads-size-main: 1.3rem;
$ads-text-main-alpha: rgb(2 50 44 / 85%);
$ads-font-weight-bold: 700;
$ads-letter-spacing: 0.0625rem;
$ads-font-weight: 700;
$ads-font-size-first: 6rem;
$ads-font-size-third: 8rem;
$ads-font-size-second: 1.75rem;
$ads-font-size-quarter: 2.5rem;
$ads-font-size-fifth: 0.75rem;
$ads-font-size-sixth: 0.938rem;
$ads-font-size-seventh: 0.5rem;
$ads-font-size-eighth: 1rem;
$ads-font-size-ninth: 1.5rem;
$ads-font-size-tenth: 2rem;
$ads-font-size-eleventh: 1.2rem;
$ads-font-weight-first: 400;
$ads-font-weight-second: 800;
$ads-line-height-default: 1.3;
$ads-padding-large: 2rem;
$ads-background-desktop: rgb(217 217 217 / 40%);
$ads-text-input: #a6a6a6;
