$ads-primary-main: #0793bf;
$ads-secondary-main: #004369;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 96aa7d9 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 172c9d9 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 897d825 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> d48dd33 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 3cf29fc (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3cf29fc (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 701646e (feature(common):added changes per PR comments SEM-040)
=======
<<<<<<< HEAD
>>>>>>> 182f71a3fb35a796eec4ec3751c01a7140e436e6
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
<<<<<<< HEAD
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 701646e (feature(common):added changes per PR comments SEM-040)
>>>>>>> 96aa7d9 (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> 172c9d9 (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 897d825 (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> 797db11 (feat:resolve rebase SEM-040)
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
>>>>>>> 3a0fa91 (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> dc211b8 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> d48dd33 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 3cf29fc (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> 701646e (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
=======
=======
$ads-tertiary-main: #fff;
$ads-danger-main: #dc3545;
$ads-warning-main: #ffc107;
>>>>>>> 182f71a3fb35a796eec4ec3751c01a7140e436e6
=======
$ads-tertiary-main:#fff;
$ads-danger-main:#dc3545;
$ads-warning-main:#ffc107;
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
$ads-text-main: #02322c;
$ads-text-secondary: #6c757d;
$ads-text-mian-hover: #000;
$ads-background-main: #f5f5f5;
$ads-color-main: #fff;
$ads-size-main: 1.3rem;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
$ads-text-main-alpha: rgb(2 50 44 / 85%);
$ads-font-weight-bold: 700;
$ads-letter-spacing: 0.0625rem;
$ads-font-weight-bold: 700;
$ads-letter-spacing: 0.0625rem;
=======
<<<<<<< HEAD
=======
>>>>>>> 172c9d9 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 0ddad72 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 3f3ef6b (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> 3f3ef6b (feature(common):added changes per PR comments SEM-040)
>>>>>>> e2fbc47 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 1e032dc (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> d48dd33 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> e21d824 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 3f3ef6b (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
$ads-text-main-alpha: rgb(2 50 44 / 85%);
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> 3a0fa91 (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> dc211b8 (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 1e032dc (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> e2fbc47 (feature(common):added changes per PR comments SEM-040)
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> d48dd33 (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 3cf29fc (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
>>>>>>> e21d824 (feature(common):added changes per PR comments SEM-040)
=======
$ads-text-main-alpha: rgb(2 50 44 / 85%);
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 701646e (feature(common):added changes per PR comments SEM-040)
=======
<<<<<<< HEAD
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 3f3ef6b (feature(common):added changes per PR comments SEM-040)
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 897d825 (feature(common):added changes per PR comments SEM-040)

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
=======
=======
>>>>>>> 182f71a3fb35a796eec4ec3751c01a7140e436e6
=======
$ads-text-main-alpha: rgb(2 50 44 / 85%);
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
=======
=======
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> 701646e (feature(common):added changes per PR comments SEM-040)
>>>>>>> 96aa7d9 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 3f3ef6b (feature(common):added changes per PR comments SEM-040)
>>>>>>> e2fbc47 (feature(common):added changes per PR comments SEM-040)
=======

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 172c9d9 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 897d825 (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 0ddad72 (feature(common):added changes per PR comments SEM-040)
=======
$ads-text-main-alpha: rgb(2 50 44 / 85%);
$ads-font-weight: 700;
>>>>>>> 797db11 (feat:resolve rebase SEM-040)
=======
$ads-text-main-alpha: rgb(2 50 44 / 85%);
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> 3a0fa91 (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
>>>>>>> dc211b8 (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 1e032dc (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> d48dd33 (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 3cf29fc (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
>>>>>>> e21d824 (feature(common):added changes per PR comments SEM-040)
=======
$ads-text-main-alpha: rgb(2 50 44 / 85%);
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
=======
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 701646e (feature(common):added changes per PR comments SEM-040)
=======
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
>>>>>>> 3f3ef6b (feature(common):added changes per PR comments SEM-040)
=======
$ads-font-weight-700: 700;
<<<<<<< HEAD

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 34f16c2 (feature(common):added changes per PR comments SEM-040)
=======
$ads-font-weight: 700;
>>>>>>> d5218a0 (feature(common):added changes per PR comments SEM-040)
<<<<<<< HEAD
=======
=======
>>>>>>> 182f71a3fb35a796eec4ec3751c01a7140e436e6
=======
$ads-text-main-alpha: rgb(2 50 44 / 85%);
=======
$ads-font-weight-700: 700;

>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
