@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.hint-text {
  align-items: center;
  display: flex;
  max-width: 371px;
  width: 100%;

  &--disabled {
    opacity: 0.5;
  }

  &__text {
    flex-grow: 1;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--small {
      font-size: 0.875rem;
      margin: 0 8px;
    }

    &--medium {
      font-size: 1rem;
      margin: 0 12px;
    }

    &--large {
      font-size: 1.125rem;
      margin: 0 16px;
    }
  }

  &__icon {
    flex-shrink: 0;

    &--small {
      font-size: 18px;
    }

    &--medium {
      font-size: 20px;
    }

    &--large {
      font-size: 22px;
    }
  }
}
