@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/breakpoints';

.error {
  border-color: $ads-danger-main;
}

.error-message {
  color: $ads-danger-main;
  font-size: 0.75rem;
}

.hint {
  color: $ads-text-secondary;
  font-size: 0.75rem;
}

.icon-left,
.icon-right {
  color: $ads-text-secondary;
  font-size: 0.875rem;
}

.input {
  background: transparent;
  border: none;
  color: $ads-text-main-hover;
  flex: 1;
  font-size: 0.875rem;
  outline: none;
}

.input-container {
  align-items: center;
  background-color: $ads-color-main;
  border: 1px solid $ads-background-main;
  border-radius: 12px;
  display: flex;
  padding: 8px 12px;
  transition: border 0.2s;

  &:focus-within {
    border-color: $ads-primary-main;
  }
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
}

.main-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.disabled {
  background-color: $ads-background-main;
  cursor: not-allowed;
}
