@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.label-references__text {
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 1rem;  
  font-weight: $ads-font-weight-bold;   
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  padding: $ads-letter-spacing;
  text-transform: uppercase;


  @include respond-to('small') {
    font-size: 1rem;
    width: 7.5rem;
  }

  @include respond-to('medium') {
    font-size: 1rem;
    width: 7.5rem;
  }

  @include respond-to('large') {
    font-size: 2rem;
    width: 16rem;
  }

  @include respond-to('extra-large') {
    font-size: 2rem;
    width: 16rem;
  }
}

.label-references--primary .label-references__text {
  color: $ads-text-main-hover;
}

.label-references--main .label-references__text {
  background-color: $ads-primary-main;
  color: $ads-color-main;
  padding: $ads-letter-spacing;
}




