---
import type { Movie } from './dto/Movie';

const response = await fetch(
  `${Astro.locals.API_END_POINT}/3/movie/popular?api_key=${Astro.locals.API_KEY}&language=en-US&page=1`,
);
const urlBase = Astro.locals.API_BASE_ROUTE;
const data = await response.json();
const moreInfo = '/moreinfo/';
const movies: Movie[] = data.results as Movie[];
---

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
  {
    movies.map((items: Movie) => (
      <div class="card shadow-sm">
        <img src={urlBase + items.poster_path} />
        <div class="card-body">
          <a href={moreInfo + items.id}>
            <h2>{items.title}</h2>
          </a>
          <p class="card-text">{items.overview}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                View
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Edit
              </button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    ))
  }
</div>

<div class="card shadow-sm">
  <svg
    class="bd-placeholder-img card-img-top"
    width="100%"
    height="225"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-label="Placeholder: Thumbnail"
    preserveAspectRatio="xMidYMid slice"
    focusable="false"
    ><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text
      x="50%"
      y="50%"
      fill="#eceeef"
      dy=".3em">Thumbnail</text
    ></svg
  >
  <div class="card-body">
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional content.
      This content is a little bit longer.
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
      </div>
      <small class="text-body-secondary">9 mins</small>
    </div>
  </div>
</div>
