@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.error-message {
  color: $ads-primary-main;
  font-family: Inter, sans-serif;
  padding: 15rem;
  text-align: center;

  @include respond-to('small-mobile') {
    padding: 0;
    padding-top: 12rem;
  }

  @include respond-to('small') {
    padding-top: 5rem;
  }

  @include respond-to('large-tablet') {
    padding-top: 15rem;
  }

  @include respond-to('large') {
    padding-top: 15rem;
  }

  @include respond-to('extra-large') {
    padding-top: 15rem;
  }

  h1 {
    color: $ads-primary-main;
    font-family: Inter, sans-serif;
    font-size: $ads-font-size-first;
    font-weight: $ads-font-weight-first;
    line-height: 7.261rem;
    margin: 0;

    @include respond-to('small-mobile') {
      font-size: 5rem;
      line-height: 4rem;
    }

    @include respond-to('large-tablet') {
      font-size: 10rem;
    }

    @include respond-to('large') {
      font-size: 10rem;
    }

    @include respond-to('medium') {
      font-size: $ads-font-size-first;
      font-weight: $ads-font-weight-first;
      line-height: 4rem;
    }
  }

  .title {
    color: $ads-primary-main;
    font-family: Inter, sans-serif;
    font-size: $ads-font-size-quarter;
    font-weight: $ads-font-weight-first;
    line-height: 3.026rem;
    margin: 0;
    margin-bottom: 0.5rem;

    @include respond-to('small-mobile') {
      font-size: 2.5rem;
    }

    @include respond-to('medium') {
      font-size: $ads-font-size-quarter;
      font-weight: $ads-font-weight-first;
      line-height: 3.026rem;
    }
  }

  .message {
    color: $ads-primary-main;
    font-family: Inter, sans-serif;
    font-size: $ads-font-size-fifth;
    font-weight: $ads-font-weight-first;
    line-height: 0.908rem;
    margin: 0.1rem;

    @include respond-to('small-mobile') {
      font-size: 1rem;
      line-height: 1.3rem;
    }

    @include respond-to('medium') {
      font-size: $ads-font-size-fifth;
      font-weight: $ads-font-weight-first;
      line-height: 0.908rem;
    }

    @include respond-to('extra-large') {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .a {
    color: $ads-primary-main;
    font-family: Inter, sans-serif;
    font-size: $ads-font-size-fifth;
    font-weight: $ads-font-weight-first;
    line-height: 0.908rem;
    margin: 0.1rem;
    text-decoration: none;

    @include respond-to('small') {
      font-size: 1.25rem;
    }

    @include respond-to('medium') {
      font-size: 1.5rem;
    }

    @include respond-to('large') {
      font-size: 0.75rem;
    }

    @include respond-to('extra-large') {
      font-size: 1rem;
    }
  }
}

.server-error {
  @include respond-to('small-mobile') {
    padding: 0;
    padding-top: 12rem;
  }

  @include respond-to('small') {
    padding-top: 5rem;
  }

  @include respond-to('large-tablet') {
    padding-top: 15rem;
  }

  @include respond-to('large') {
    padding-top: 12rem;
  }

  h1 {
    font-family: Inter, sans-serif;
    font-size: $ads-font-size-third;
    font-weight: $ads-font-weight-second;
    line-height: 9.682rem;

    @include respond-to('small-mobile') {
      font-size: 5rem;
      line-height: 4rem;
    }

    @include respond-to('large-tablet') {
      font-size: 10rem;
    }

    @include respond-to('large') {
      font-size: 10rem;
    }

    @include respond-to('medium') {
      font-size: $ads-font-size-third;
      font-weight: $ads-font-weight-second;
      line-height: 9.682rem;
    }
  }

  .title {
    font-family: Inter, sans-serif;
    font-size: $ads-font-size-quarter;
    font-weight: $ads-font-weight;
    line-height: 3.026rem;

    @include respond-to('small-mobile') {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    @include respond-to('medium') {
      font-size: $ads-font-size-quarter;
      font-weight: $ads-font-weight;
      line-height: 3.026rem;
    }
  }

  .message {
    font-family: Inter, sans-serif;
    font-size: $ads-font-size-sixth;
    font-weight: $ads-font-weight-first;
    line-height: 1.134rem;

    @include respond-to('small-mobile') {
      font-size: 1rem;
      line-height: 0rem;
    }

    @include respond-to('medium') {
      font-size: $ads-font-size-sixth;
      font-weight: $ads-font-weight-first;
      line-height: 1.134rem;
    }

    @include respond-to('extra-large') {
      font-size: 1rem;
    }
  }
}
