@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.button__share {
  background-color: $ads-primary-main;
  border: 2px solid transparent;
  padding: 0.1rem;

  @include respond-to('small') {
    width: 11.5%;
  }

  @include respond-to('medium') {
    width: 6.5%;
  }

  @include respond-to('large') {
    width: 4.5%;
  }

  @include respond-to('extra-large') {
    width: 4.5%;
  }
}

.button__icon {
  display: flex;
  height: 45px;
  margin-bottom: 15px;
  width: 45px;
}

.button__icon:hover {
  background: $ads-secondary-main;
}


 
