@import '../../../../globals/fonts';
@import '../../../../globals/variables';

.carousel-of-volumes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 0;
  padding: 0;

  svg {
    height: 100%;
    width: 100%;
  }
}

.carousel-title {
  span {
    color: $ads-color-brand-tertiary-900;
    font-size: 3rem;
  }
}

.carousel-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.carousel-items {
  div {
    margin: 0;
    padding: 0;
  }

  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.carousel-item {
  div {
    height: 100%;
  }

  p:nth-of-type(1) {
    font-family: Lato, sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
  }

  p:nth-of-type(2) {
    color: $ads-color-feedback-positive-900;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
  }
}

.button-left,
.button-right {
  background-color: transparent;
  border: none;
  bottom: 2rem;
  cursor: pointer;
  height: 2rem;
  margin: 1rem;
  padding: 0;
  position: relative;
  width: 2rem;
  z-index: 10;
}
