---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
---

<html>
  <head>
    <title>Blog Post</title>
  </head>
  <body>
    <Breadcrumbs />
    <h1>Blog Post</h1>
    <p>Contenido del blog...</p>
  </body>
</html>
