@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.label {
  //color: $ads-color-main;
  font-family: Roboto, sans-serif;
  font-size: $ads-size-main;
  font-weight: $ads-font-weight-second;
  margin-top: 0.5rem;
  text-align: center;

  &--primary {
    color: $ads-color-main;
  }

  &--secondary {
    color: $ads-text-secondary;
  }

  &--tertiary {
    color: $ads-warning-main;
  }

  @include respond-to('medium') {
    font-size: 1.25rem;
    line-height: 1.465rem;
  }
}

.icon {
  content: '';
  height: 16px;
  margin-bottom: 1.5rem;
}
