@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.user-text-stat-card {
  background-color: $ads-color-main;
  border: 1px solid $ads-background-main;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0 0 0 / 5%);
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  max-width: 540px;
  padding: 1rem;
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;

  &:hover {
    box-shadow: 0 4px 20px rgba(0 0 0 / 8%);
  }

  &.highlight {
    background-color: $ads-background-main;
  }

  .checkbox {
    margin-top: 0.25rem;
  }

  .avatar {
    border-radius: 50%;
    height: 36px;
    object-fit: cover;
    width: 36px;
  }

  .content {
    flex: 1;

    .user {
      color: $ads-color-gray-strong-900;
      font-size: 0.875rem;
      font-weight: 600;
    }

    .text {
      color: $ads-color-gray-strong-300;
      font-size: 0.875rem;
      line-height: 1.4;
      margin-top: 0.25rem;
    }

    .timestamp {
      color: $ads-color-gray-strong-25;
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }
}
