@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button__label {
  border-radius: 12px;
  height: 22px;
  position: absolute;
  width: 94px;

  &:hover {
    background: $ads-secondary-main;
  }

  @include respond-to('small') {
    height: 22px;
    width: 94px;
  }

  @include respond-to('medium') {
    height: 22px;
    width: 94px;
  }

  @include respond-to('large') {
    height: 22px;
    width: 94px;
  }

  .button__text {
    font-family: Lato, sans-serif;
    font-size: 10px;
    font-weight: 700;
    height: 15px;
    line-height: 136%;
    position: absolute;
    width: 93px;
  }
}
