@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.buttons-variant__button {
  align-items: center;
  border-radius: 12px;
  display: flex;
  height: 22px;
  justify-content: flex-start;
  position: absolute;
  width: 100px;

  &--primary {
    background: $ads-tertiary-main;
    border: 0.063rem solid #6c757d;
    color: $ads-text-secondary;

    &:hover {
      background: #ccc;
      color: $ads-text-main-hover;
    }
  }

  &--secondary {
    background: $ads-secondary-main;
    color: $ads-color-main;

    &:hover {
      background: #00101a;
    }
  }

  &--tertiary {
    background: $ads-primary-main;
    color: $ads-color-main;

    &:hover {
      background: #002a40;
    }
  }

  @include respond-to('small') {
    height: 17px;
    width: 80px;
  }

  @include respond-to('medium') {
    height: 22px;
    width: 94px;
  }

  @include respond-to('large') {
    height: 22px;
    width: 103px;
  }

  .buttons-variant__label {
    display: flex;
    flex: content;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    line-height: 136%;
    position: absolute;
    width: 93px;
  }
}
