@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.reference-apa {
  background-color: $ads-text-main;
  border-radius: 0.3125rem; ;
  color: $ads-color-main;
  font-family: Calibri, "Segoe UI", sans-serif;
  padding: 0.625rem;

  &--large {
    padding: $ads-padding-large; 
  }

  &__text {
    font-size: $ads-size-main;
  }
}