@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.titleText {
  background: $ads-background-main;
  background-color: transparent;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: $ads-size-main;
  font-weight: $ads-font-weight-bold;
  letter-spacing: $ads-letter-spacing;
  line-height: 2rem;
  padding: 0.265rem;

  @include respond-to('small') {
    font-size: 1.5em;
    letter-spacing: 0.075rem;
    width: 100%;
  }

  @include respond-to('medium') {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    width: 100%;
  }

  @include respond-to('large') {
    font-size: 1.5rem;
    letter-spacing: 0.0125rem;
  }

  @include respond-to('extra-large') {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }
}

.primaryText {
  color: $ads-primary-main;
}

.secondaryText {
  color: $ads-secondary-main;
}
