@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.article-title {
  &__text {
    background: $ads-background-main;
    background-color: transparent;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    padding: 0.265rem;

    @include respond-to('small') {
      font-size: 1.5em;
      letter-spacing: 0.075rem;
      width: 100%;
    }

    @include respond-to('medium') {
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      width: 100%;
    }

    @include respond-to('large') {
      font-size: 1.5rem;
      letter-spacing: 0.0125rem;
    }

    @include respond-to('extra-large') {
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
    }
  }

  &__text--primary {
    color: $ads-primary-main;
  }

  &__text--secondary {
    color: $ads-secondary-main;
  }
}
