@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.title-text {
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 0.001rem;
    line-height: 3.492rem;

    display: flex;

  
    @include respond-to ('small'){
        font-size: 1rem;
        letter-spacing: 0.075rem;
    }
  
    @include respond-to ('medium'){
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
    }
  
    @include respond-to ('large'){
        font-size: 1.5rem;
        letter-spacing: 0.01rem;
    }
  
    @include respond-to ('extra-large'){
        font-size: 1.5rem;
        letter-spacing: 0.01rem;
    }
  
}
  
.bold-text {
    font-weight: $ads-font-weight-bold;
}
