@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/fonts';

.label-icon__container {
  padding: 100px;
}

.label {
  color: $ads-color-main;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size:1.25rem;
  font-weight: $ads-font-weight-second;
  justify-content: center;
  margin-top: 0.5rem;

  @include respond-to('medium') {
    font-size: 1.25rem;
    line-height: 1.465rem;
  }
}

.icon {
  align-items: center;
  background: $ads-color-main;
  border-radius: 50%;
  display: flex;
  height: 2.563rem;
  justify-content: center;
  margin: auto;
  margin-bottom: 0.001rem;
  width: 2.563rem;

  &--secondary {
    background: $ads-text-secondary;
  }

  &--tertiary {
    background: $ads-warning-main;
  }
}
