@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/fonts';

.label-icon {
  &__container {
    padding: 10px;
  }

  &__label {
    color: $ads-color-main;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    font-weight: $ads-font-weight-second;
    justify-content: center;
    margin-top: 0.5rem;

    @include respond-to('medium') {
      font-size: 1.25rem;
      line-height: 1.465rem;
    }
  }

  &__icon {
    align-items: center;
    background-color: $ads-color-main;
    border-radius: 50%;
    display: flex;
    height: 2.563rem;
    justify-content: center;
    margin: auto;
    margin-bottom: 0.001rem;
    width: 2.563rem;

    svg {
      height: 1.5rem;
      width: 2rem;
    }

    &--secondary {
      background-color:  $ads-color-main;
    }

    &--tertiary {
      background-color:  $ads-color-main;
    }
  }
}
