@import '../../../../globals/breakpoints';
@import '../../../../globals/fonts';
@import '../../../../globals/mixins';
@import '../../../../globals/variables';

.labeldate {
  color: $ads-text-secondary;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: $ads-font-size-sixth;
  font-weight: $ads-font-size-first;
  line-height: $ads-line-height-default;
  width: fit-content;

  &:hover {
    color: $ads-text-main-hover;
  }

  @include respond-to('small') {
    font-size: 1rem;
  }

  @include respond-to('medium') {
    font-size: $ads-font-size-sixth;
  }

  @include respond-to('large') {
    font-size: 1rem;
  }
}
