@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/breakpoints';

.recent-articles-section {
  &__head {
    justify-items: center;

    .volume-box {
      align-items: center;
      background: $ads-background-main;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1.5rem;
    }
  }

  &__thumbnail {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    @include respond-to('large') {
      place-self: flex-start center;
    }

    @include respond-to('extra-large') {
      place-self: flex-start center;
    }

    @include respond-to('medium') {
      place-self: flex-start center;
    }
  }

  &__label {
    .label {
      background-color: transparent;
      margin: 0 -1rem;
      padding: 0;
      width: 100%;

    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;

    @include respond-to('large') {
      flex-direction: row-reverse;
      gap: 2rem;
    }

    @include respond-to('extra-large') {
      flex-direction: row-reverse;
      gap: 2rem;
    }

    @include respond-to('medium') {
      flex-direction: row-reverse;
      gap: 2rem;
    }
  }
}

.recent-articles-section__fade {
  opacity: 1;
  transition: opacity 0.4s;

  &.fade-out {
    opacity: 0;
  }

  &.fade-in {
    opacity: 1;
  }
}