@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/breakpoints';

.recent-articles-section {
  &__head {
    justify-items: center;

    .volume-box {
      align-items: center;
      background: $ads-background-main;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1.5rem;
    }
  }

  &__content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    width: 100%;

    @include respond-to('large') {
      flex-direction: row-reverse;
      gap: 2rem;
    }

    @include respond-to('extra-large') {
      flex-direction: row-reverse;
      gap: 2rem;
    }

    @include respond-to('medium') {
      flex-direction: row-reverse;
      gap: 2rem;
    }
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    @include respond-to('large') {
      flex: 0 0 30%;
      margin-top: 0.5rem;
      max-width: 30%;
      place-self: flex-start center;

      img {
        height: auto;
        object-fit: fill;
        width: 100%;
      }
    }

    @include respond-to('extra-large') {
      flex: 0 0 30%;
      margin-top: 0.5rem;
      max-width: 30%;
      place-self: flex-start center;

      img {
        height: auto;
        object-fit: fill;
        width: 100%;
      }
    }

    @include respond-to('medium') {
      flex: 0 0 30%;
      margin-top: 0.5rem;
      max-width: 30%;
      place-self: flex-start center;

      img {
        height: auto;
        object-fit: fill;
        width: 100%;
      }
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-self: flex-start center;

    @include respond-to('small') {
      width: 100%;
    }

    @include respond-to('large') {
      flex: 0 0 70%;
      max-width: 70%;
    }

    @include respond-to('extra-large') {
      flex: 0 0 70%;
      max-width: 70%;
    }

    @include respond-to('medium') {
      flex: 0 0 70%;
      max-width: 70%;
    }
  }

  &__label {
    .label {
      background-color: transparent;
      margin: 0 -1rem;
      padding: 0;
      width: 100%;
    }
  }
}

.recent-articles-section__fade {
  opacity: 1;
  transition: opacity 0.4s;

  &.fade-out {
    opacity: 0;
  }

  &.fade-in {
    opacity: 1;
  }
}