@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.label {
    background: $ads-background-main;
    padding: 1.26rem;
    /*text-align: center;*/
    width: 100%;

    @include respond-to('medium') {
        width: 80%;
    }
    
    @include respond-to('large') {
        width: 30%;
    }
    
    @include respond-to('extra-large') {
        width: 30%;
    }
}

.label__text {
    color: $ads-primary-main;
    font-family: Montserrat;
    font-size: $ads-size-main;
    font-weight: 800;
    line-height: 3.657rem;
    
}

.label--primary {
    background-color: $ads-primary-main;

    .label__text {
        color: $ads-background-main;
    }
}