@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.label-ref {
  align-items: center;
  background: #02322c;
  display: flex;
  height: 70px;
  padding: 1rem;
  width: 448px;

  &__icon {
    align-items: center;
    background: $ads-primary-main;
    border: 2px solid $ads-tertiary-main;
    border-radius: 11px;
    color: $ads-tertiary-main;
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    font-weight: 400;
    height: 46px;
    justify-content: center;
    line-height: 54.72px;
    margin-right: 0.5rem;
    width: 45px;
  }

  &__label {
    background-color: $ads-text-main;
    border-radius: 0.25rem;
    color: $ads-color-main;
    font-family: Lato, sans-serif;;
    font-size: 48px;
    font-weight: 800px;
    height: 65px;
    left: 8198px;
    line-height: 65.28px;
    padding: 0.5rem;
    top: 2795px;
    width: 330px;
  }
}
