---
// eslint-disable-next-line import/no-extraneous-dependencies
import { t, changeLanguage } from 'i18next';
import Layout from '../../layouts/Layout.astro';

changeLanguage('en');
---

<Layout title={t('page.title')}>
  <h1>OPENSCIENCE V 0.1.2</h1>
  <p>{t('page.description')}</p>
</Layout>

<style></style>
