@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.auth-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
