@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.button {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  &--primary,
  &--secondary {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--primary {
    background-color: $ads-background-transparent;
    border: 1px solid $ads-tertiary-main;
    color: $ads-tertiary-main;

    &:hover {
      background-color: $ads-tertiary-main;
      color: $ads-text-main-hover;
    }
  }

  &--secondary {
    background-color: $ads-primary-main;
    border: none;
    color: $ads-tertiary-main;

    &:hover {
      background-color: $ads-secondary-main;
    }
  }

  @include respond-to('medium') {
    font-size: 1.2rem;
    height: 2.75rem;
    width: 10.3125rem;
  }

  @include respond-to('large') {
    font-size: 1.25rem;
    height: 2.75rem;
    width: 10.3125rem;
  }

  @include respond-to('extra-large') {
    font-size: 0.75rem;
    height: 1.3125rem;
    width: 5.125rem;
  }
}