@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.container {
  align-items: flex-start;
  background: transparent;
  border: none;
  height: 43.75rem;
  justify-content: center;
  position: relative;
  width: 50rem;

  @include respond-to('small-mobile') {
    align-items: flex-start;
    display: flex;
    height: 15.125rem;
    width: 17rem;
  }

  @include respond-to('medium') {
    height: 34.25rem;
    width: 38rem;
  }

  @include respond-to('large') {
    height: 43.75rem;
    width: 50rem;
  }

  @include respond-to('extra-large') {
    height: 53.125rem;
    width: 60rem;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .overlay {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0.3;
    position: relative;
    top: 0;
    width: 99.2%;

    &:hover {
      background-color: $ads-primary-main;
      border: 0.125rem solid $ads-primary-main;
    }
  }
}
