@import '../../../../globals/variables';

.references-section {
  background-color: $ads-background-desktop;
  border-radius: 8px;
  padding: 16px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
}