$ads-radius-none: 0;
$ads-radius-xsm: 1px;
$ads-radius-sm: 2px;
$ads-radius-sm-extra: 4px;
$ads-radius-sm-plus: 6px;
$ads-radius-sm-max: 8px;
$ads-radius-md: 12px;
$ads-radius-md-extra: 16px;
$ads-radius-md-plus: 18px;
$ads-radius-lg: 20px;
$ads-radius-lg-extra: 24px;
$ads-radius-lg-max: 32px;
$ads-radius-full: 9999px;
