$radius-none: 0;
$radius-xsm: 1px;
$radius-sm: 2px;
$radius-sm-2x: 4px;
$radius-sm-3x: 6px;
$radius-sm-4x: 8px;
$radius-md: 12px;
$radius-md-2x: 16px;
$radius-md-3x: 18px;
$radius-md-lg: 20px;
$radius-md-lg-2x: 24px;
$radius-md-lg-3x: 32px;
$radius-infinity: 9999px;