@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.buttons-primary__button {
  border: 0.063rem solid transparent;
  width: 5.75rem;

  @include respond-to('small') {
    width: 10.313rem;
  }

  &--primary {
    background: transparent;
    border: 0.063rem solid $ads-color-main;
    color: $ads-color-main;

    &:hover {
      background: #002a40;
    }
  }

  &--secondary {
    background: $ads-text-main;
    color: $ads-color-main;

    &:hover {
      background: $ads-primary-main;
    }
  }

  &--tertiary {
    background: $ads-primary-main;
    color: $ads-color-main;

    &:hover {
      background: $ads-secondary-main;
    }
  }
}

.buttons-primary__label {
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-weight: $ads-font-weight-second;
  line-height: 0.879rem;
  text-align: center;
  text-transform: uppercase;

  @include respond-to('small') {
    font-size: 1.25rem;
    line-height: 1.465rem;
  }
}