@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.variable-button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 3.5rem;
  padding: 0.5rem;
  width: 3rem;

  @include respond-to('small') {
    height: 3.5rem;
    width: 3rem;
  }

  @include respond-to('medium') {
    height: 3.5rem;
    width: 3rem;
  }

  @include respond-to('large') {
    height: 5.5rem;
    width: 5rem;
  }

  @include respond-to('extra-large') {
    height: 6rem;
    width: 5.2rem;
  }
}

.button-icon svg {
  display: flex;
  height: 75%;
  width: 80%;
}

.button-icon path {
  fill: $ads-primary-main;
}

.variable-button:hover {
  background: transparent;
}

.variable-button:active {
  transform: scale(0.95);
}
