---
import Breadcrumbs from '../components/Breadcrumbs.astro';
---

<html>
  <head>
    <title>About Us</title>
  </head>
  <body>
    <Breadcrumbs />
    <h1>About Us</h1>
    <p>Información sobre nosotros...</p>
  </body>
</html>
