---
import Layout from '../layouts/Layout.astro';
import ArticleTitle from '../ui/components/atoms/article-title/ArticleTitle';
import ArticleDescription from '../ui/components/atoms/article-description/ArticleDescription';
---

<Layout title="Welcome to Astro.">
  <h1>OPENSCIENCE V 0.1.2</h1>
  <ArticleTitle title="Home - Artículos Recientes" variant="primary" />
  <ArticleDescription
    article="Bienvenido a la página principal de Openscience. Aquí encontrarás los artículos más recientes y destacados."
  />
</Layout>
<style></style>
