@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/fonts';

.button-number {
  $button-number-padding: 15px;
  $button-number-color: $ads-primary-main;
  $button-number-font-size: $ads-font-size-primary;
  
  padding: $button-number-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  gap: 4px;

  &--filled {
    &:hover:not(:disabled) {
      background-color: lighten($button-number-color, 10%);
    }

    color: $ads-color-main;
    background-color: $button-number-color;
  }

  &--outline {
    &:hover:not(:disabled) {
      background-color: $button-number-color;
      color: $ads-color-main;
    }

    border: 1px solid $button-number-color;
    color: $button-number-color;
  }

  &--ghost {
    &:hover:not(:disabled) {
      background-color: $button-number-color;
      color: $ads-color-main;
    }

    color: $ads-primary-main;
  }

  &--rounded {
    border-radius: 20%;
  }

  &--circle {
    border-radius: 50%;
  }

  &--small {
    $button-number-font-size: $ads-font-size-fifth;
    font-size: $button-number-font-size;
  }

  &--medium {
    font-size: $button-number-font-size;
  }

  &--large {
    font-size: $button-number-font-size;
  }

  &--inactive {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: $ads-text-secondary;
    color: $ads-color-main;
    border: none;
  }

  .button-number__icon {
    font-size: $button-number-font-size;
  }
}
