@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/fonts';

.button-number {
  $ads-button-number-padding: 15px;
  $ads-button-number-color: $ads-primary-main;
  $ads-button-font-size: $ads-font-size-primary;

  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: $ads-button-number-padding;

  &--filled {
    &:hover:not(:disabled) {
      opacity: 0.5;
    }

    background-color: $ads-button-number-color;
    color: $ads-color-main;
  }

  &--outline {
    &:hover:not(:disabled) {
      background-color: $ads-button-number-color;
      color: $ads-color-main;
    }

    border: 1px solid $ads-button-number-color;
    color: $ads-button-number-color;
  }

  &--ghost {
    &:hover:not(:disabled) {
      background-color: $ads-button-number-color;
      color: $ads-color-main;
    }

    color: $ads-primary-main;
  }

  &--rounded {
    border-radius: 20%;
  }

  &--circle {
    border-radius: 50%;
  }

  &--small {
    $ads-button-font-size: $ads-font-size-fifth;

    font-size: $ads-button-font-size;
  }

  &--medium {
    font-size: $ads-button-font-size;
  }

  &--large {
    font-size: $ads-button-font-size;
  }

  &--inactive {
    background-color: $ads-text-secondary;
    border: none;
    color: $ads-color-main;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .button-number__icon {
    font-size: $ads-button-font-size;
  }
}
