@import '../../../../globals/variables';
@import '../../../../globals/typography';
@import '../../../../globals/fonts';

.title {
  color: $ads-paragraph-color-dark;
  font-family: Poppins-Regular, sans-serif;
  margin: 0 0 1.5rem;
  padding: 0;

  &.sm {
    font-size: 1.5rem;
  }

  &.md {
    font-size: 2.25rem;
  }

  &.lg {
    font-size: 3rem;
  }

  &.xl {
    font-size: 4.5rem;
  }

  &.xxl {
    font-size: 6rem;
  }

  &.regular {
    font-weight: $ads-font-weight-regular;
  }

  &.medium {
    font-weight: $ads-font-weight-medium;
  }

  &.semibold {
    font-weight: $ads-font-weight-semibold;
  }

  &.compact {
    line-height: 1.1;
  }

  &.default {
    line-height: 1.5;
  }

  &.spacious {
    line-height: 1.8;
  }
}
