@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import '../../../../globals/fonts';

.glass {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disguise {
  background-color: transparent;
  border: none;
  margin-left: 94%;
  margin-top: -0.4rem;
}

.button__icons--glass svg {
  height: 1.125rem;
  width: 1.125rem;

  @include respond-to('medium') {
    height: 2rem;
    width: 2rem;
  }

  @include respond-to('extra-large') {
    height: 2rem;
    width: 2rem;
  }
}

.divider {
  background-color: $ads-color-main;
  border: none;
  height: 0.125rem;
  margin-bottom: 5px;
  margin-top: 1.125rem;
  width: 16.375rem;

  @include respond-to('small') {
    height: 0.125rem;
    width: 25.125rem;
  }

  @include respond-to('medium') {
    height: 0.625rem;
    margin-bottom: 10px;
    width: 40rem;
  }

  @include respond-to('large') {
    height: 0.625rem;
    margin-bottom: 10px;
    width: 50.375rem;
  }

  @include respond-to('extra-large') {
    height: 0.625rem;
    margin-bottom: 10px;
    margin-top: 3.125rem;
    width: 73.375rem;
  }
}

.button1 {
  background-color: $ads-color-main;
  border: none;
  border-radius: 0.125rem;
  display: flex;
  justify-content: center;
  padding: 0.02rem;
  width: 3.625rem;

  @include respond-to('medium') {
    height: 3.063rem;
    justify-content: center;
    width: 10.313rem;
  }

  @include respond-to('extra-large') {
    height: 3.063rem;
    justify-content: center;
    width: 10.313rem;
  }
}

.button__label--glass {
  color: $ads-text-main-hover;
  font-family: Roboto, sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: center;

  @include respond-to('medium') {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
  }
}

.button1:hover {
  background: $ads-secondary-main;
}
