@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.footer {
  align-items: center;
  background-color: $ads-color-light;
  border: 0.0938rem solid $ads-color-light;
  color: $ads-text-main;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1.5rem;

    &__title {
    align-self: flex-start;
    color: $ads-text-main;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-right: 20rem;

    @include respond-to('small-mobile') {
      font-size: 0.8rem;
      padding-right: 15rem;          // 👉 Desplaza hacia la derecha
    }

    @include respond-to('small') {
      font-size: 1rem;
      padding-right: 18rem; 
    }

    @include respond-to('medium') {
      font-size: 1.2rem;
      padding-right: 20rem; 
    }

    @include respond-to('large') {
      font-size: 1.4rem;
      padding-right: 22rem; 
    }
  }

  &--small {
    min-height: 6rem;
  }

  &--medium {
    min-height: 10rem;
  }

  &--large {
    min-height: 13rem;
  }

  &__logo-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;

    svg,
    img {
      margin-bottom: 1rem;
      width: 8rem;

      @include respond-to('small-mobile') {
        width: 3.5rem;
      }

      @include respond-to('small') {
        width: 4.5rem;
      }

      @include respond-to('medium') {
        width: 6rem;
      }

      @include respond-to('large') {
        width: 8rem;
      }

      @include respond-to('extra-large') {
        width: 10rem;
      }
    }
  }

  &__variables {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 37.5rem;
    position: relative;
  }

  &__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40%;

    &--left,
    &--right {
      flex: none;
    }
  }

  &__section1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 0.4rem;
  }

  &__label {
    color: $ads-text-main;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    text-align: center;
    text-transform: uppercase;

    @include respond-to('small-mobile') {
      font-size: 0.75rem;
    }

    @include respond-to('small') {
      font-size: 0.9rem;
    }

    @include respond-to('medium') {
      font-size: 1.2rem;
    }

    @include respond-to('large') {
      font-size: 1.4rem;
    }

    @include respond-to('extra-large') {
      font-size: 1.6rem;
    }
  }

  &__text {
    color: $ads-text-main;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    text-align: center;

    &--shift-left {
      margin-right: 0;
    }

    @include respond-to('small-mobile') {
      font-size: 0.6rem;
    }

    @include respond-to('small') {
      font-size: 0.85rem;
    }

    @include respond-to('medium') {
      font-size: 1.1rem;
    }

    @include respond-to('large') {
      font-size: 1.25rem;
    }

    @include respond-to('extra-large') {
      font-size: 1.4rem;
    }
  }

  &__divider {
    display: none;
  }

  &__vertical-line::before {
    background: #1b3b3a;
    content: '';
    display: block;
    gap: 2rem;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0.25rem;
  }

  @include respond-to('small') {
    &__variables {
      flex-direction: row;
      gap: 0.8rem;
    }

    &__section {
      align-items: center;
      width: 45%;
    }

    &__section1 {
      align-items: flex-start;
    }
  }

  &__location {
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    //width: 100%;
  }
}
