---
import Search from '@components/Search/Search';
---

<nav class="navbar bg-secondary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-white">
      MOVIES API <Search client:load /></span
    >
  </div>
</nav>
