@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import '../../../../globals/colors';

.country-flag-container {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 4px 8px;
  transition: background-color 0.2s ease;
  width: max-content;

  &:hover {
    background-color: $ads-background-main;
    border-radius: 4px;
  }

  .country-flag-avatar {
    border: 1px solid $ads-color-black-50;
    border-radius: 50%;
    flex-shrink: 0;
    height: 24px;
    width: 24px;

    &.rectangular {
      border-radius: 2px;
    }
  }

  .country-flag-text {
    color: $ads-color-gray-strong-700;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    margin-left: 16px;
    min-width: 0;
    overflow: visible;
    text-overflow: unset;
    white-space: nowrap;
    width: auto;

    &.small {
      font-size: 16px;
    }

    &.medium {
      font-size: 18px;
    }

    &.large {
      font-size: 20px;
    }

    .dial-code {
      color: $ads-color-gray-strong-700;
      font-weight: 300;
      white-space: nowrap;
    }
  }
}

.grid-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 100%;
}
