.display-and-subtitle {
  margin: auto;

  &.sm, &.md, &.lg {
    max-width: 38.813rem;
  }

  &.xl, &.xxl {
    max-width: 73.125rem;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

