@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.button__icon {
  align-items: start;
  display: flex; 
  height: 44px;
  width: 43px;

  svg {
    height: 100%;
    width: 100%;    
  }

  @include respond-to('extra-large') {
    height: 70px;
    width: 69px;
  }

  @include respond-to('large') {
    height: 70px;
    width: 69px;
  }

  @include respond-to('large-tablet') {
    height: 44px;
    width: 43px;
  }

  @include respond-to('medium') {
    height: 44px;
    width: 43px 
  }

  @include respond-to('small') {
    height: 44px;
    width: 43px;
  }

  @include respond-to('small-mobile') {
    height: 30px;
    width: 29px; 
  }
}

.button__label {
  align-items: center;
  background: $ads-primary-main;
  border: 2px solid transparent;
  border-radius: 28px;
  color: $ads-color-main;
  display: flex;
  justify-content: flex; 
  padding: 10px 20px;

  @include respond-to('extra-large') {    
    width: 615px;
  }

  @include respond-to('large') {    
    width: 615px;
  }

  @include respond-to('large-tablet') {
    height: 75px;
    width: 450px;
  }

  @include respond-to('medium') {
    height: 75px;
    width: 450px;
  }

  @include respond-to('small') {
    height: 60px;
    width: 300px;
  }

  @include respond-to('small-mobile') {
    height: 50px;
    width: 250px;
  }

  &:hover {
    background: $ads-secondary-main;
  }
}

.button__text {
  display: block;
  padding: 28%;
  text-align: center;
  
  @include respond-to('extra-large') {
    font-size: $ads-font-size-first;
  }

  @include respond-to('large') {
    font-size: $ads-font-size-first;
  }

  @include respond-to('large-tablet') {
    font-size: $ads-font-size-fifth;
  }

  @include respond-to('medium') {
    font-size: $ads-font-size-first;
  }

  @include respond-to('small') {
    font-size: $ads-font-size-sixth;
  }

  @include respond-to('small-mobile') {
    font-size: $ads-font-size-sixth;
  }
}
