@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.container-content {
  background: $ads-text-main;
  height: 73rem;
  left: 774.875rem;
  position: relative;
  top: 28rem;
  width: 94.125rem;

  @include respond-to('small') {
    width: 80%;
  }

  @include respond-to('medium') {
    width: 30%;
  }

  @include respond-to('large') {
    width: 30%;
  }

  @include respond-to('extra-large') {
    width: 25%;
  }

<<<<<<< HEAD
<<<<<<< HEAD
  
=======
  &:hover {
    background: $ads-text-main;
  }
>>>>>>> 5c170bf (fear: add container content actualizado 2)
=======
  
>>>>>>> fecd09b (feat: add and updating container content)
}

.container-content-icon-image {
  height: 56.688rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80.125rem;

  @include respond-to('medium') {
    width: 80%;
  }

  @include respond-to('large') {
    width: 30%;
  }

  @include respond-to('extra-large') {
    width: 30%;
  }
}
