@import '../../../../globals/variables';
@import '../../../../globals/mixins';


.container-content-icon {
  height: 100%;
  position: relative;
  width: 100%;

  @include respond-to('small') {
    width: 25%;
  }

  @include respond-to('medium') {
    width: 70%;
  }

  @include respond-to('large') {
    width: 60%;
  }

  @include respond-to('extra-large') {
    width: 50%;
  }
}

.container-content {
  gap: 0;
  height: 73rem;
  left: 50rem;
  position: absolute;
  top: 28rem;
}

.container-content-icon-image {
  gap: 0;
  height: 56.688rem;
  left: 57rem;
  position: relative; 
  top: 36.125rem;
  width: 80.125rem;
}