@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  
  .location {
    color:$ads-text-main-alpha;
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;

    @include respond-to('small-mobile') {
      font-size: 0.75rem;
  
    }
  
    @include respond-to('small') {
      font-size: 1.1rem;
    }
  
    @include respond-to('medium') {
      font-size: 1rem;
    }
  
    @include respond-to('large') {
      font-size: 1.1rem;
    }

    @include respond-to('extra-large') {
      font-size: 0.80rem;
    }
  
  }

  .location a {
    color:$ads-text-main-alpha;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-weight:300;
    letter-spacing: 0.0625rem;
    line-height: 14.63px;
    position: relative;
    text-decoration: none;
    top: 15px;
    }

  .link__icon {
    display: inline-block;
    height: 40px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    position: relative;
    top: 10px;
    width: 30px;
    }
   
.divider {
  color:$ads-text-main;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
 }

