@import '../../../../globals/variables';
@import '../../../../globals/mixins';
  
  .location a{
    color:$ads-text-main;
    text-decoration: none;
  }

  .link__icon {
    display: inline-block;
    height: 40px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 30px;
  }

  .link__label {
  font-size: 15px;
  letter-spacing: 0.0625rem;
  margin-top: -160px;
  }

  .location img{
    display: inline-block;
    height: 31px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 2px;
  }

  .link__icon svg {
    display: flexbox;
    height: 60%;
    width: 90%;
  }