@import '../../../../globals/variables';
@import '../../../../globals/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  

  .location a{
    color:$ads-text-main-alpha;
    position: relative;
    text-decoration: none;
    }

  .link__icon {
    display: inline-block;
    height: 40px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 30px;
  }

  .link__label {
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
  font-weight:300;
  letter-spacing: 0.0625rem;
  line-height: 14.63px;
  position: relative;

  @include respond-to('small-mobile') {
    font-size: 1.1rem;

  }

  @include respond-to('small') {
    font-size: 1.1rem;
  }

  @include respond-to('medium') {
    font-size: 1.1rem;
  }

  @include respond-to('large') {
    font-size: 1rem;
  }

  }

  .location img{
    display: inline-block;
    height: 31px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 2px;
  }
   
