
@import '../../styles/globals/variables';
@import '../../styles/globals/breakpoints';

@media (width >= 768px) and (width <= 834px) {
  .container {
    max-width: 786px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .auto-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(6, 1fr);
  }

  @for $i from 1 through 6 {
    .col-tablet-#{$i} {
      grid-column: span $i !important;
    }
  }
}
