@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.label-share {
  background: $ads-primary-main;
  background-color: $ads-text-main; 
  height: 2rem; 
  padding: 1rem;     
  width: 40rem;

  @include respond-to('small') {
    font-size: 1rem;
    width: 12rem;
  }

  @include respond-to('medium') {
    font-size: 1rem;
    width:13.5rem;
  }

  @include respond-to('large') {
    font-size: 2rem;
    width: 16rem;
  }

  @include respond-to('extra-large') {
    font-size: 2rem;
    width: 16rem;
  }
}

.label-share__text {    
  font-family: Lato, sans-serif;
  font-size: 1.7rem;
  font-weight: $ads-font-weight-bold;
  letter-spacing: 0.0625rem;
  line-height: 1;  
  text-transform: uppercase;    
}

.label-share__icon {
  height: 40%;
}

.label-share__icon svg {
  display: flexbox;
  height: 65%;
  width: 20%;
}

.label-share--main .label-share__text {
  color: $ads-color-main;
}