@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.buttonPublish {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonPublish__button {
  border: 2px solid transparent;
  border-radius: 1.563rem;
  padding: 1rem;
  width: 50%;
  @include respond-to('small') {
    width: 35%;
    padding:0.313rem 1.25rem;
  }

  @include respond-to('medium') {
    width: 30%;
    padding: 0.313rem 0rem;
  }

  @include respond-to('large') {
    width: 25%;
    padding: 0.313rem 0rem;
  }

  @include respond-to('extra-large') {
    width: 25%;
  }

  &--primary {
    background: $ads-primary-main;
    color: $ads-color-main; 

    &:hover {
      background: $ads-secondary-main;
    }
  }

  &--secondary {
    background: $ads-secondary-main;
    color: $ads-color-main; 

    &:hover {
      background: darken($ads-secondary-main, 10%);
    }
  }

  &--tertiary {
    background:  $ads-tertiary-main;
    color: $ads-text-secondary;
    border: 0.063rem solid #6c757d;


    &:hover {
      background: darken($ads-tertiary-main, 10%);
      color: darken($ads-text-secondary, 10%);
    }
  }

  &--warning {
    background: $ads-warning-main;
    color:  $ads-color-main;

    &:hover {
        background: darken($ads-warning-main, 10%);
    }
  }
  &--danger{
    background: $ads-danger-main;
    color:  $ads-color-main;

    &:hover {
        background-color: darken($ads-danger-main, 10%);
    }
  }
}


.buttonPublish__label {
  font-size: $ads-size-main;
  text-transform: uppercase;
  text-align: center;
  font-weight: $ads-font-weight-700;

  @include respond-to('small') {
    font-size: 1.125rem;
  }

}
