@import '../../../../globals/variables';
@import '../../../../globals/mixins';
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
=======
>>>>>>> 3e47174 (feature(common):added SEM-040)
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
>>>>>>> 647d254 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 64b0a1d (feature(common):added SEM-040)
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
>>>>>>> 89b403a (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 3e47174 (feature(common):added SEM-040)
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
>>>>>>> 647d254 (feature(common):added changes per PR comments SEM-040)

.buttonPublish {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonPublish__button {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 8882fca (feature(common):added SEM-040 changes)
=======
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 182f71a3fb35a796eec4ec3751c01a7140e436e6
=======
  background: $ads-primary-main !important;
>>>>>>> 85d6f72 (feature(common):added SEM-040)
>>>>>>> 57ecd38 (feature(common):added SEM-040)
  border: 2px solid transparent;
  border-radius: 1.563rem;
  padding: 0.2rem;
  width: 7.563rem;
=======
  background: $ads-primary-main ;
=======
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
  border: 2px solid transparent;
  border-radius: 1.563rem;
  padding: 1rem;
  width: 50%;
  @include respond-to('small') {
    width: 35%;
    padding: 0.313rem 1.25rem;
  }
>>>>>>> 261e345 (feature(common):added SEM-040 changes)

  @include respond-to('medium') {
<<<<<<< HEAD
    width: 19.438rem;
    padding: 0.2rem;
  }

  &--primary {
    background: $ads-primary-main;
    color: $ads-color-main;

    &:hover {
      background: $ads-secondary-main;
    }
=======
    width: 30%;
    padding: 0.313rem 0rem;
  }

  @include respond-to('large') {
    width: 25%;
    padding: 0.313rem 0rem;
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
  }

<<<<<<< HEAD
  &--secondary {
    background: $ads-secondary-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-secondary-main, 10%);
    }
  }

  &--tertiary {
    background: $ads-tertiary-main;
    color: $ads-text-secondary;
    border: 0.063rem solid #6c757d;

    &:hover {
      background: darken($ads-tertiary-main, 10%);
      color: darken($ads-text-secondary, 10%);
    }
  }

  &--warning {
    background: $ads-warning-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-warning-main, 10%);
    }
  }
  &--danger {
    background: $ads-danger-main;
    color: $ads-color-main;

    &:hover {
      background-color: darken($ads-danger-main, 10%);
    }
  }
}
=======
  @include respond-to('extra-large') {
    width: 25%;
  }

  &--primary {
    background: $ads-primary-main;
    color: $ads-color-main;

    &:hover {
      background: $ads-secondary-main;
    }
  }

  &--secondary {
    background: $ads-secondary-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-secondary-main, 10%);
    }
  }

  &--tertiary {
    background: $ads-tertiary-main;
    color: $ads-text-secondary;
    border: 0.063rem solid #6c757d;

    &:hover {
      background: darken($ads-tertiary-main, 10%);
      color: darken($ads-text-secondary, 10%);
    }
  }

  &--warning {
    background: $ads-warning-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-warning-main, 10%);
    }
  }
  &--danger {
    background: $ads-danger-main;
    color: $ads-color-main;

    &:hover {
      background-color: darken($ads-danger-main, 10%);
    }
  }
}

<<<<<<< HEAD
>>>>>>> 261e345 (feature(common):added SEM-040 changes)

=======
>>>>>>> 701646e (feature(common):added changes per PR comments SEM-040)
.buttonPublish__label {
<<<<<<< HEAD
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
<<<<<<< HEAD
  font-weight: $ads-font-weight;
  font-family: Montserrat;
  line-height: 0.914rem;

  @include respond-to('medium') {
    font-size: 1.5rem;
    line-height: 1.829rem;
=======
  background: $ads-primary-main;
=======
  background: $ads-primary-main !important;
>>>>>>> d6e7f28 (feature(common):added SEM-040)
=======
  background: $ads-primary-main ;
>>>>>>> ed0ea7c (feature(common):added SEM-040 changes)
=======
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
  border: 2px solid transparent;
  border-radius: 1.563rem;
  padding: 0.2rem;
  width: 7.563rem;

  @include respond-to('medium') {
    width: 19.438rem;
    padding: 0.2rem;
  }

  &--primary {
    background: $ads-primary-main;
    color: $ads-color-main;

    &:hover {
      background: $ads-secondary-main;
    }
  }

  &--secondary {
    background: $ads-secondary-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-secondary-main, 10%);
    }
  }

  &--tertiary {
    background: $ads-tertiary-main;
    color: $ads-text-secondary;
    border: 0.063rem solid #6c757d;

    &:hover {
      background: darken($ads-tertiary-main, 10%);
      color: darken($ads-text-secondary, 10%);
    }
  }

  &--warning {
    background: $ads-warning-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-warning-main, 10%);
    }
  }
  &--danger {
    background: $ads-danger-main;
    color: $ads-color-main;

    &:hover {
      background-color: darken($ads-danger-main, 10%);
    }
  }
}

.buttonPublish__label {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: $ads-font-weight;
  font-family: Montserrat;
  line-height: 0.914rem;

<<<<<<< HEAD
  @include respond-to('small') {
<<<<<<< HEAD
    font-size: 18px;
>>>>>>> 3e47174 (feature(common):added SEM-040)
=======
    font-size: 1.125rem;
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
=======
  @include respond-to('medium') {
    font-size: 1.5rem;
    line-height: 1.829rem;
>>>>>>> 647d254 (feature(common):added changes per PR comments SEM-040)
=======
<<<<<<< HEAD
  background: $ads-primary-main;
=======
  background: $ads-primary-main !important;
>>>>>>> 85d6f72 (feature(common):added SEM-040)
=======
  background: $ads-primary-main ;
>>>>>>> 261e345 (feature(common):added SEM-040 changes)
=======
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
  border: 2px solid transparent;
  border-radius: 1.563rem;
  padding: 0.2rem;
  width: 7.563rem;

  @include respond-to('medium') {
    width: 19.438rem;
    padding: 0.2rem;
  }

  &--primary {
    background: $ads-primary-main;
    color: $ads-color-main;

    &:hover {
      background: $ads-secondary-main;
    }
  }

  &--secondary {
    background: $ads-secondary-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-secondary-main, 10%);
    }
  }

  &--tertiary {
    background: $ads-tertiary-main;
    color: $ads-text-secondary;
    border: 0.063rem solid #6c757d;

    &:hover {
      background: darken($ads-tertiary-main, 10%);
      color: darken($ads-text-secondary, 10%);
    }
  }

  &--warning {
    background: $ads-warning-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-warning-main, 10%);
    }
  }
  &--danger {
    background: $ads-danger-main;
    color: $ads-color-main;

    &:hover {
      background-color: darken($ads-danger-main, 10%);
    }
  }
}

.buttonPublish__label {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: $ads-font-weight;
  font-family: Montserrat;
  line-height: 0.914rem;

<<<<<<< HEAD
  @include respond-to('small') {
<<<<<<< HEAD
    font-size: 18px;
>>>>>>> 64b0a1d (feature(common):added SEM-040)
=======
    font-size: 1.125rem;
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
=======
  @include respond-to('medium') {
    font-size: 1.5rem;
    line-height: 1.829rem;
>>>>>>> 89b403a (feature(common):added changes per PR comments SEM-040)
=======
  background: $ads-primary-main;
=======
  background: $ads-primary-main !important;
>>>>>>> d6e7f28 (feature(common):added SEM-040)
=======
  background: $ads-primary-main ;
>>>>>>> ed0ea7c (feature(common):added SEM-040 changes)
=======
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
  border: 2px solid transparent;
  border-radius: 1.563rem;
  padding: 0.2rem;
  width: 7.563rem;

  @include respond-to('medium') {
    width: 19.438rem;
    padding: 0.2rem;
  }

  &--primary {
    background: $ads-primary-main;
    color: $ads-color-main;

    &:hover {
      background: $ads-secondary-main;
    }
  }

  &--secondary {
    background: $ads-secondary-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-secondary-main, 10%);
    }
  }

  &--tertiary {
    background: $ads-tertiary-main;
    color: $ads-text-secondary;
    border: 0.063rem solid #6c757d;

    &:hover {
      background: darken($ads-tertiary-main, 10%);
      color: darken($ads-text-secondary, 10%);
    }
  }

  &--warning {
    background: $ads-warning-main;
    color: $ads-color-main;

    &:hover {
      background: darken($ads-warning-main, 10%);
    }
  }
  &--danger {
    background: $ads-danger-main;
    color: $ads-color-main;

    &:hover {
      background-color: darken($ads-danger-main, 10%);
    }
  }
}

.buttonPublish__label {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: $ads-font-weight;
  font-family: Montserrat;
  line-height: 0.914rem;

<<<<<<< HEAD
  @include respond-to('small') {
<<<<<<< HEAD
    font-size: 18px;
>>>>>>> 3e47174 (feature(common):added SEM-040)
=======
    font-size: 1.125rem;
>>>>>>> d364e01 (feature(common):added changes per PR comments SEM-040)
=======
  @include respond-to('medium') {
    font-size: 1.5rem;
    line-height: 1.829rem;
>>>>>>> 647d254 (feature(common):added changes per PR comments SEM-040)
=======
>>>>>>> 182f71a3fb35a796eec4ec3751c01a7140e436e6
=======
  font-weight: 700;

  @include respond-to('small') {
    font-size: 18px;
>>>>>>> 261e345 (feature(common):added SEM-040 changes)
<<<<<<< HEAD
>>>>>>> 8882fca (feature(common):added SEM-040 changes)
=======
=======
  font-size: $ads-size-main;
  text-transform: uppercase;
  text-align: center;
  font-weight: $ads-font-weight-700;

  @include respond-to('small') {
    font-size: 1.125rem;
>>>>>>> bae7f3a (feature(common):added changes per PR comments SEM-040)
>>>>>>> 76a2ecd (feature(common):added changes per PR comments SEM-040)
  }
}
