@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.buttonPublish {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonPublish__button {
  background: $ads-primary-main ;
  border: 2px solid transparent;
  border-radius: 1.563rem;
  padding: 1rem;
  width: 50%;
  @include respond-to('small') {
    width: 35%;
    padding:5px 20px;
  }

  @include respond-to('medium') {
    width: 30%;
    padding: 5px 0px;
  }

  @include respond-to('large') {
    width: 25%;
    padding: 5px 0px;
  }

  @include respond-to('extra-large') {
    width: 25%;
  }

  &:hover{
    background: $ads-secondary-main;
  }
}


.buttonPublish__label {
  color: $ads-color-main;
  font-size: $ads-size-main;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;

  @include respond-to('small') {
    font-size: 18px;
  }

}
