@import '../globals/breakpoints';
@import '../globals/variables';

.container {
  margin: 0 auto;
  max-width: $ads-gridForge-container-size;
  padding: 0 $ads-gridForge-margin;
  width: 100%;
}

.auto-grid {
  display: grid;
  gap: $ads-gridForge-gutter;
  grid-template-columns: repeat(12, 1fr);
}

.grid-item {
  background-color: $ads-grid-item-bg;
  border: 1px solid #66686b;
  color: $text-color; // Asegúrate de que esta variable esté definida
  font-weight: bold;
  min-height: 50px;
  padding: $ads-grid-item-padding;
  text-align: center;
}

@mixin grid-columns {
  @for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span $i;
    }
  }
}

@include grid-columns;

@media (width <= 1200px) {
  .col-lg-1 { grid-column: span 1; }
  .col-lg-2 { grid-column: span 2; }
  .col-lg-3 { grid-column: span 3; }
  .col-lg-4 { grid-column: span 4; }
  .col-lg-5 { grid-column: span 5; }
  .col-lg-6 { grid-column: span 6; }
  .col-lg-7 { grid-column: span 7; }
  .col-lg-8 { grid-column: span 8; }
  .col-lg-9 { grid-column: span 9; }
  .col-lg-10 { grid-column: span 10; }
  .col-lg-11 { grid-column: span 11; }
  .col-lg-12 { grid-column: span 12; }
}

