@import '../globals/breakpoints';
@import '../globals/variables';

@mixin respond-to($breakpoint) {
  $value: map-get($ads_breakpoints_scales, $breakpoint);
  @if $value {
    @media (max-width: $value) {
      @content;
    }
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  margin: 0 $ads_gridforge_margin;
  max-width: $ads_gridforge_container_size;
  padding: 0;
  width: 100%;
}

.auto-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
}

.grid-item {
  align-items: center;
  background-color: $ads_grid_item_bg;
  border: none;
  color: transparent;
  display: flex;
  font-weight: bold;
  justify-content: center;
  min-height: 50px;
  padding: $ads_grid_item_padding;
  text-align: center;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

@each $bp_name, $bp_value in $ads_breakpoints_scales {
  @include respond-to($bp_name) {
    @for $i from 1 through 12 {
      .col-#{$bp_name}-#{$i} {
        grid-column: span $i !important;
      }
    }
  }
}
