@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.checkbox {
  margin-right: 0.75rem;
  padding: 0;
}

.icon {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
  height: 17px;
  width: 17px;
}

.checkbox__icon--checked {
  background-color: $ads-color-black-800;
  border-radius: 4px;
  height: 20px;
  width: 20px;
}
