$white: #fff;
$currentColor: currentcolor;
$gray500: #6b7280;
$emerald500: #10b981;
$blue500: #3b82f6;
$amber500: #f59e0b;
$red500: #ef4444;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$indigo400: #818cf8;

.check {
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;

  &__box {
    align-items: center;
    background-color: $white;
    display: flex;
    height: 20px;
    justify-content: center;
    transition: all 0.15s ease-out;
    width: 20px;

    &--square {
      border: 2px solid;
      border-radius: 3px;
    }

    &--circle {
      border: 2px solid;
      border-radius: 50%;
    }
  }

  &__input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:focus-visible + .check__box {
      box-shadow: 0 0 0 3px rgb(99 102 241 / 30%);
    }
  }

  &:active:not(.disabled) {
    .check__box {
      box-shadow:
        0 0 0 2px rgb(99 102 241 / 30%),
        0 0 10px rgb(99 102 241 / 20%);
      filter: brightness(1.1);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &__box--default {
    border-color: $gray500;
  }

  &__box--success {
    border-color: $emerald500;
  }

  &__box--info {
    border-color: $blue500;
  }

  &__box--warning {
    border-color: $amber500;
  }

  &__box--danger {
    border-color: $red500;
  }

  &__mark {
    color: $currentColor;
    height: 12px;
    width: 12px;

    &--circle {
      height: 10px;
      width: 10px;
    }
  }

  .check__input:checked + .check__box {
    background-color: $currentColor;

    .check__mark {
      color: $white;
    }
  }

  .check__input:checked + .check__box--default {
    color: $gray500;
  }

  .check__input:checked + .check__box--success {
    color: $emerald500;
  }

  .check__input:checked + .check__box--info {
    color: $blue500;
  }

  .check__input:checked + .check__box--warning {
    color: $amber500;
  }

  .check__input:checked + .check__box--danger {
    color: $red500;
  }

  .check__input:disabled + .check__box {
    background-color: $gray200;
    border-color: $gray300;
  }
}
