@import '../../../../globals/variables';
$theme-colors: (
  default: #333,
  success: #28a745,
  info: #17a2b8,
  warning: $ads-warning-main,
  danger: $ads-danger-main,
  tertiary: $ads-tertiary-main,
  text-main: $ads-text-main,
  text-secondary: $ads-text-secondary,
  text-main-hover: $ads-text-main-hover,
  background-main: $ads-background-main,
  color-main: $ads-color-main,
  text-main-alpha: $ads-text-main-alpha,
  background-desktop: $ads-background-desktop,
  background-color-black: $ads-background-color-black,
  text-input: $ads-text-input,
  primary: $ads-primary-main,
  secondary: $ads-secondary-main
);

.checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid red; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  position: relative;

  &.square {
    border-radius: 4px;
  }

  &.circle {
    border-radius: 50%;
  }

  &.checked {
    color: white;
   } 
  
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @each $name in (
    default,
    success,
    info,
    warning,
    danger,
    tertiary,
    text-main,
    text-secondary,
    text-main-hover,
    background-main,
    color-main,
    text-main-alpha,
    background-desktop,
    background-color-black,
    text-input,
    primary,
    secondary
  ) {
    
    &.#{$name} {
      border-color: map-get($map: $theme-colors, $key: $name); 
      border-width: 2px; 
      color: map-get($theme-colors, $key: $name);
    }

    &.#{$name}.checked {
      background-color: map-get($map: $theme-colors, $key: $name);
      border-color: map-get($map: $theme-colors, $key: $name); 
      
    }
  }

  &.checked::before,
  &.unchecked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    border-radius: inherit;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
    animation: clickEffect 0.4s ease-out forwards;
    z-index: 0;
    pointer-events: none;
  }

  .checkmark {
    position: relative;
    z-index: 2;
    font-size: 14px;
    color: white;
    opacity: 1; 
    transition: opacity 0.2s ease;
  }
  @each $name in map-keys($theme-colors) {
    &.#{$name} {
      border-color: map-get($theme-colors, $name);
      color: map-get($theme-colors, $name);

      &.checked {
        background-color: map-get($theme-colors, $name);
        border-color: map-get($theme-colors, $name);
      }
    }
  }
}

@keyframes clickEffect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(2); 
    opacity: 0;
  }
}