---
// src/pages/index.astro
import DashboardLayoutBasic from 'style-library/core/DashboardLayout';
import App from '../core/MuiApp';
import MainContent from '../core/MainContent';

// Obtener el cache de emotion desde el middl

const { emotionCache } = Astro.locals;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OpenScience</title>
    <!-- No se necesita incluir los estilos aquí, el middleware se encarga de eso -->
  </head>
  <body>
    <App emotionCache={emotionCache}>
      <MainContent />
      <DashboardLayoutBasic />
    </App>
  </body>
</html>
