@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.thumbnail {
  &__container {
    border: 2px solid transparent;
    margin: 0 auto;
    position: relative;

    @include respond-to('medium') {
      width: 15rem;
    }

    @include respond-to('large') {
      width: 20rem;
    }

    @include respond-to('extra-large') {
      width: 20rem;
    }
  }

  &__image {
    border: 2px solid $ads-color-main;
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
  }

  &__overlay {
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:hover {
      background-color: $ads-primary-main;
      border: 2px solid $ads-primary-main;
      opacity: 0.5;
    }
  }
}
