@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.variable__label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 3.5rem;
  padding: 0.5rem;
  width: 3rem; 
}

.divider__label{
  align-items: center;
  display: flex;
  gap: 10rem; 
}
