@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.featured-article {
  position: relative;
}

.divider {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;

  .buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
}
