@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.divider {
  width: 85%;

  &--solid {
    border-style: solid;
    color: $ads-text-main;
  }

  &--dotted {
    border-style: dotted;
    color: $ads-text-main;
  }

  &--dashed {
    border-style: dashed;
    color: $ads-text-main;
  }

  &:hover {
    color: $ads-text-main-alpha;
  }
}
