@import '../../../../globals/breakpoints';
@import '../../../../globals/mixins';
@import '../../../../globals/variables';

.volumen {
    color: $ads-text-main;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: $ads-size-main;
    font-weight: $ads-font-weight;
    width: fit-content;
    
    &:hover {
        color: $ads-text-main-hover;
    }
}
