@import '../../../../globals/breakpoints';
@import '../../../../globals/mixins';
@import '../../../../globals/variables';

.volumen {
  color: $ads-text-main;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $ads-size-main;
  font-weight: $ads-font-weight;
  width: fit-content;

<<<<<<< HEAD
  
  &:hover {
    color: $ads-text-main-hover;
=======
  &:hover {
    color: $ads-text-mian-hover;
>>>>>>> 5c170bf (fear: add container content actualizado 2)
  }
}
