@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.Close_button {
  background: $ads-text-main;
  border: 2px solid transparent;
  padding: 1.26rem;
  width: 100%;

  @include respond-to('medium') {
    width: 15%;
  }

  @include respond-to('large') {
    width: 15%;
  }

  @include respond-to('extra-large') {
    width: 15%;
  }
}

.button__icon--before {
  content: '';
  display: center;
  height: 16px;
  width: 16px;
}
