@import '../../../../globals/variables';
@import '../../../../globals/mixins';

.resources-and-page-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__section {
    align-items: center;
    display: flex;
    flex-direction: column;

    &--resources,
    &--page {
      height: 49px;
      width: 178px;
    }

    &--resources-desktop {
      color: $primary-color;
      font: 600 24px/29.26px $font-family;
    }

    &--resources-mobile {
      color: $primary-color;
      font: 600 15px/18.29px $font-family;
    }

    &--page-desktop {
      color: $primary-color;
      font: 600 24px/29.26px $font-family;
    }

    &--page-mobile {
      color: $primary-color;
      font: 600 15px/18.29px $font-family;
    }

    &--articles,
    &--volumes,
    &--unipol {
      font: 300 24px/29.26px $font-family;
    }

    &--articles-mobile,
    &--volumes-mobile,
    &--unipol-mobile {
      font: 300 14px/17.07px $font-family;
    }
  }

  &__separator {
    background-color: $primary-color;
  }

  &__separator--desktop {
    height: 125px;
    width: 4px;
  }

  &__separator--mobile {
    height: 92px;
    width: 3px;
  }
}

@media (width <= 768px) {
  .resources-and-page-footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
